.header {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    block-size: 86px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

.menu   {
    display: flex;
    gap: 40px;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    font: var(--button);
    color: var(--grey);
    line-height: 85px;
    transition: .2s;
}

.menu .selected {
    color: white;
    box-shadow: inset 0 -4px 0 white;
}

.menu a:hover {
    color: white;
}

.header-button {
    font: var(--button);
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 12px;
    cursor: pointer;
    transition: scale(2s);
}

.header-button:active {
    scale: .9;
}

.header-button:hover {
    box-shadow:  0 .125rem .625rem .125rem rgba(214, 212, 212, 0.587);
}



@media screen and (max-width: 812px) {
    .menu a{
        display: none;
    }

    .header-button {
        display: none;
    }
}