
@import './hero.css';
@import './press.css';
@import './transaction.css';
@import './why.css';
@import './sticky.css';
@import './header.css';
@import './logging.css';
@import './card.css';
@import './fast.css';
@import './footer.css';


:root {
  --white: #e2a3a3; 
  --grey: #808080; 
  --black: #000000; 
  --headline3: 800 2.875rem/3.5rem Inter; 
  --headline2: 700 3rem/3.625rem Inter; 
  --headline4: 700 1.75rem/normal Inter; 
  --headline5: 700 1.5625rem/normal Inter; 
  --button: 700 1.125rem/1.75rem Inter; 
  --caption: 400 0.75rem/1.375rem Inter; 
  --body1-regular: 400 1.125rem/1.6875rem Inter; 
  --body1-bold: 700 1.125rem/1.6875rem Inter; 
  --body2-regular: 400 1rem/1.375rem Inter; 
  --body2-bold: 700 1rem/1.1875rem Inter;   
  --gridTemplateColums: 1fr var(--phoneInlineSize) 800px 1fr; 
  --phoneInlineSize: 400px;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?q1aw95');
  src:  url('../fonts/icomoon.eot?q1aw95#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?q1aw95') format('truetype'),
    url('../fonts/icomoon.woff?q1aw95') format('woff'),
    url('../fonts/icomoon.svg?q1aw95#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Iconhamburguer-button:before {
  content: "\e909";
}


body {
  font: var(--body1-regular);
  margin: 0;
  color: var(--grey);
}



.grid {
  display: grid;
  grid-template-columns: var(--gridTemplateColums);
  grid-template-areas: 'wrapper-start phone content wrapper-end';
}

.grid section {
  grid-column: 1 / -1;
}

.inset-grid {
  display: grid;
  grid-template-columns: var(--gridTemplateColums);
  grid-template-areas: '. . content .';
  min-block-size: 768px;
}

.inset-grid [class*="content"] {
  grid-area: content;
  /*padding-inline-start: 22px;*/
}

@media screen and (max-width: 1366px) {
  :root {
      --phoneInlineSize: 288px;
      --gridTemplateColums: 50px var(--phoneInlineSize) 1fr 50px;
    }

    .inset-grid [class*="content"] {
      grid-area: content;
      /*padding-inline-start: 60px;*/
    }
    
}

@media screen and (max-width: 812px) {
  :root {
      --phoneBlockSize: 500px;
      --phoneInlineSize: 264px;
      --gridTemplateColums: auto auto 1fr auto;
    }

    .grid {
      display: block;
    }

    .hero {
      block-size: auto;
      grid-row-start: initial;
    }
    
    .press {
      grid-row-start: initial;
      margin-block-start: -50px;
    }

    .hero-content {
      display: flex;
      block-size: auto;
      align-items: start;
    }

    .sticky {
      position: relative;
      grid-area: initial !important;
      grid-column: 1 / -1;
      text-align: center;
      margin-block-start:-480px;
      block-size: var(--phoneBlockSize);
    }

    .sticky img {
      max-block-size: 100%;
    }
    
    .inset-grid [class*="content"] {
      padding-inline-start: 0px;
    }
}
